/* Tablet */
@media screen and (min-width: 768px) {
    .card {
      flex: 1 0 30%;
      max-width: 17.625rem;
    }
  }

  /* Desktop */
  @media screen and (min-width: 1024px) {
    .card {
      flex: 1 0 20%;
    }
  }

  @media screen and (min-width: 768px) {
    img {
      min-height: 15.5rem;
    }
  }

  @media screen and (min-width: 1200px) {
    img {
      min-height: 16.375rem;
    }
  }